= render 'navigation'
.result
  - @results.results.facets['tags']['terms'].each do |tag|
    .tag
      = link_to tag['term'], "search?query=#{params[:query]} tag:#{tag['term']}"
      = number_with_delimiter tag['count']
  - (@results.results || []).each do |video|
    .restaurant
      .image
        = image_tag(video.thumbnail_url)
      .title
        = link_to video.title, "http://www.nicovideo.jp/watch/#{video.id}"
      .info
        .pv
          PV:
          = (video.view_counter)
        .tag
          タグ:
          = video.tags.map(&:tag).join(', ')
